#body {
    background-image: url("https: //i.ibb.co/NSZLbX1/imageback.jpg");
}

#container {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    border: rgba(0, 0, 0, 0.452)
}

button {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: yes;
    background-color: hsl(210, 100%, 50%);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(210, 100%, 60%);
}

button:active {
    background-color: hsl(210, 100%, 70%)
}

input {
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}

#diceResult {
    margin: 25px;
}

#diceImage img {
    width: 100px;
    margin: 5px;
}